@{
    ViewData["Title"] = "Team Members";
}

<partial name="Partials/Sections/_AddMemberForm" />

<section id="team-members">
    <header class="flex-between">
        <h2>
            Team Members
        </h2>
        <button type="button"  data-modal="true" data-target="#addMemberModal" class="btn btn-add btn-blue">Add Member</button>
    </header>
</section>