@{
    ViewData["Title"] = "Projects";
}


<section id="projects">
    <header class="flex-between">
        <h1>@ViewData["Title"]</h1>
        <button type="button" class="btn btn-add btn-blue">Add Project</button>
    </header>
</section>