@model Domain.Models.Client

<tr>
    <td class="client-check"><input type="checkbox"/></td>
    <td class="client-info">
        <img class="client-image" src="~/images/avatars/avatar-template.svg" alt=""/>
        <div class="client-name">@Model.Name</div>
        <div class="client-email">@Model.Email</div>
    </td>
    <td class="client-location">@Model.Location</td>
    <td class="client-phone">@Model.Phone</td>
    <td class="client-actions">
        <i class="fa-solid fa-ellipsis" data-modal="true" data-target="#edit-client-modal"></i>
    </td>
</tr>