@{
    ViewData["Title"] = "Clients";
}

<partial name="Partials/Sections/_AddClientForm"/>
<partial name="Partials/Sections/_EditClientForm"/>

<section id="clients">
    <header class="flex-between">
        <h1>@ViewData["Title"]</h1>
        <button type="button" data-type="modal" data-target="#add-client-modal" class="btn btn-add btn-blue">Add Client</button>
    </header>
    <div class="surface">
        <partial name="Partials/Sections/_ClientList" />
    </div>
</section>