@{
    ViewData["Title"] = "Projects";
}

<partial name="Partials/Sections/_AddProjectForm"/>

<section id="projects" class="page">
    <header class="page-header">
        <h1>@ViewData["Title"]</h1>
        <button
            type="button"
            data-type="modal"
            data-target="#add-project-modal" 
            class="btn btn-add btn-blue"
        >
            Add Project
        </button>
    </header>
</section>


