
@using Domain.Extensions
@using WebApp.Models
@model WebApp.Models.ProjectsViewModel

@{
    ViewData["Title"] = "Projects";
}

<section id="projects" class="page">
    <header class="page-header">
        <h1>@ViewData["Title"]</h1> 
        <button
            type="button"
            data-type="modal"
            data-target="#add-project-modal" 
            class="btn btn-add btn-blue"
        >
            Add Project
        </button>
    </header>
    
    <section class="project-list">
        @if (Model.Projects.Any())
        {
            @foreach (var project in Model.Projects)
            {
                var viewModel = project.MapTo<ProjectViewModel>(); 
                @await Html.PartialAsync("Partials/ListItems/_ProjectListItem", viewModel)
            }
        }
    </section>
</section>

@await Html.PartialAsync("Partials/Sections/_AddProjectForm", Model.AddProjectFormData)
@await Html.PartialAsync("Partials/Sections/_EditProjectForm", Model.EditProjectFormData)



