
@using Domain.Extensions
@using WebApp.Models
@model WebApp.Models.ProjectsViewModel

@{
    ViewData["Title"] = "Projects";
    
    var isCompleted = (ViewContext.RouteData.Values["controller"]?.ToString() == "Projects"
                    && ViewContext.RouteData.Values["action"]?.ToString() == "Index"
                    && ViewContext.HttpContext.Request.Query["status"] == "completed");
    
    var isStarted = (ViewContext.RouteData.Values["controller"]?.ToString() == "Projects"
                    && ViewContext.RouteData.Values["action"]?.ToString() == "Index"
                    && ViewContext.HttpContext.Request.Query["status"] == "started");

    var isAll = (ViewContext.RouteData.Values["controller"]?.ToString() == "Projects"
                 && ViewContext.RouteData.Values["action"]?.ToString() == "Index"
                 && ViewContext.HttpContext.Request.Query["status"] != "completed"
                 && ViewContext.HttpContext.Request.Query["status"] != "started");
}

<section id="projects" class="page">
    <header class="page-header">
        <h1>@ViewData["Title"]</h1> 
        <button
            type="button"
            data-type="modal"
            data-target="#add-project-modal" 
            class="btn btn-add btn-blue"
        >
            Add Project
        </button>
    </header>
    
    <section>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link @(isAll ? "active" : "")" 
                   asp-controller="Projects" 
                   asp-action="Index">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(isCompleted ? "active" : "")"
                    asp-controller="Projects"
                    asp-action="Index"
                    asp-route-status="completed">Competed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(isStarted ? "active" : "")"
                    asp-controller="Projects"
                    asp-action="Index"
                    asp-route-status="started">Started</a>
            </li>
        </ul>
    </section>
    
    <section class="project-list">
        @if (Model.Projects.Any())
        {
            @foreach (var project in Model.Projects)
            {
                @await Html.PartialAsync("Partials/ListItems/_ProjectListItem", project)
            }
        }
    </section>
</section>

@await Html.PartialAsync("Partials/Sections/_AddProjectForm", Model.AddProjectFormData)
@await Html.PartialAsync("Partials/Sections/_EditProjectForm", Model.EditProjectFormData)



