@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
<div id="account-container">
    <button type="button" data-type="dropdown" data-target="#account-dropdown" class="btn-account">
        <img src="/images/avatars/woman-long.svg" alt="template-avatar" />
    </button>
    <div id="account-dropdown" class="dropdown">
        <div class="dropdown-header">
            <div class="account-name">
                <img src="/images/avatars/woman-long.svg" alt="template-avatar" />
                <span>@User.Identity!.Name</span>
            </div>
        </div>
        <div class="dropdown-body">
            <nav class="dropdown-options">
                <div for="darkModeToggle" class="dropdown-option">
                    <label class="switch-label" >
                        <i class="fa-duotone fa solid fa-cog"></i>
                        <span>Dark Mode</span>
                    </label>
                    <label class="switch">
                        <input type="checkbox" id="darkModeToggle" data-type="toggle" data-func="darkmode"/>
                        <span class="slider"></span>
                    </label>
                </div>
            </nav>
        </div>
        <div class="divider"></div>
        <nav class="dropdown-actions">
            <a class="dropdown-action" data-type="dropdown" asp-controller="Auth" asp-action="Logout">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Log out</span>
            </a>
        </nav>
    </div>
</div>