<nav class="nav-links">
    <a class="nav-link @(Context.Request.Path == "/" ? "active" : "")" asp-action="Index" asp-controller="Overview">
        <i class="fa-duotone fa-solid fa-table-columns"></i>
        <span>Overview</span>
    </a>
    <a class="nav-link @(Context.Request.Path == "/projects" ? "active" : "")" asp-action="Index" asp-controller="Projects">
        <i class="fa-duotone fa-solid fa-briefcase"></i>
        <span>Projects</span>
    </a>
    <a class="nav-link @(Context.Request.Path == "/members" ? "active" : "")" asp-action="Index" asp-controller="Members">
        <i class="fa-duotone fa-solid fa-user-group"></i>
        <span>Team Members</span>
    </a>

    <a class="nav-link @(Context.Request.Path == "/clients" ? "active" : "")" asp-action="Index" asp-controller="Clients">
        <i class="fa-duotone fa-solid fa-handshake"></i>
        <span>Clients</span>
    </a>
</nav>